#brotlipy==0.7.0
#bs4==0.0.2
#docopt==0.6.2
#http3==0.6.7
#httpcore==1.0.7
#httpx==0.28.1
#openpyxl==3.1.5
#pandas==2.0.3
#rich==13.9.4
#urllib3==2.2.3
brotlipy
bs4
docopt
httpcore
httpx
openpyxl
pandas
rich
urllib3
